/* Write your code here. */
* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  background-color: #0f172a;
  color: #f8fafc;
  height: 100vh;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

img {
  width: 150px;
}

h1 {
  margin-bottom: 20px;
}

@media screen(min-width: 768) {
  img {
    width: 300px;
  }
  h1 {
    font-size: 25px;
  }
}
